# 컨테이너(Container)

여러 개의 값을 저장할 수 있는 것(객체)을 의미하며, `서로 다른 자료형`을 저장 할 수 있습니다.

### 컨테이너 분류
- 시퀀스(Sequence)형 : 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형 : 순서가 없는(unordered) 데이터

<img width="712" alt="container" src="https://user-images.githubusercontent.com/45934087/148164052-3b12d3a2-a95e-4d4d-ae25-86ca1ba9657b.png">

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

### 특징
1. 순서가 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 다루지 않습니다.


### 리스트 (List)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**생성과 접근**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

In [6]:
my_list = []          #  무에서 유를 만들 때
anoter_list = list()  # 기존 데이터를 기반으로 리스트를 만들 때
print(my_list, anoter_list)
type([])

[] []

list

In [ ]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수 locations을 출력해 봅시다.
# locations의 타입을 출력해 봅시다.

In [7]:
locations = ['서울', '대구', '제주', '하남', '위례', ]

# 1. 변수명 => 복.수.
# 2. = 앞뒤는 띄어쓰기
# 3. , 뒤에 띄어쓰기
# 4. 마지막에도 ,는 쓰기 (trailing comma)

In [8]:
# locations의 첫번째 값을 인덱스로 접근해 봅시다.

In [10]:
locations[0]

'서울'


순서가 있는 시퀀스로 인덱스를 통해 접근 가능합니다.
- 값에 대한 접근은 `list[idx]` 방식으로 접근합니다.

![image](https://user-images.githubusercontent.com/45934087/148164331-f0ff4193-6b05-4d99-bbde-dd1eef13b0b1.png)

In [ ]:
# 변수 boxes에 문자열 'A', 'B', 리스트 ['apple', 'banana', 'cherry']를 할당합니다.

In [12]:
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]

In [13]:
# boxes의 길이를 len 함수를 이용하여 출력해 봅시다.

In [17]:
len(boxes)

3

In [18]:
# boxes의 3번째 요소를 인덱스로 접근하여 출력해 봅시다.

In [20]:
boxes[2]

['apple', 'banana', 'cherry']

In [ ]:
# boxes의 3번째 요소들 중, 마지막 요소를 negative index로 접근하여 출력해 봅시다.

In [21]:
# ['apple', 'banana', 'cherry'][-1]
boxes[2][-1]

'cherry'

In [ ]:
# boxes의 마지막 요소들 중, 두번째 요소의 첫번째 문자열을 출력해 봅시다.

In [25]:
boxes[-1][1][0]
# 'banana'[0]

'b'

In [32]:
# 할당(값을 수정 가능)
boxes[0] = 'C'
boxes[1] = '유태영'
boxes

['C', '유태영', ['apple', 'banana', 'cherry']]

### 튜플 (Tuple)

**생성과 접근**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

- tuple은 수정 불가능(불변, immutable)합니다.

- 직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

In [37]:
t1 = (1, 2)
type(t1)

tuple

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.

In [39]:
t2 = 1, 2, 3
type(t2)

tuple

In [48]:
x = 1
y = 2

x, y

x, y = 1, 2
x, y = y, x
print(x, y)

2 1

**튜플 생성 주의 사항**
- 단일 항목의 경우

In [50]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다.
# 아래 코드를 실행하여 변수 a의 타입을 확인해 봅시다.
a = (1, )  # comma 없으면 그냥 정수형
type(a)

tuple

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

In [53]:
t1 = (1, )
type(t1)

tuple

In [54]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

In [55]:
t2 = (1)
type(t2)

int

- 복수 항목의 경우

In [ ]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
# 아래 코드를 실행하여 변수 b와 c의 타입을 확인해 봅시다.

In [57]:
b = 1, 2, 3
type(b)

tuple

In [58]:
c = 1, 2, 3,
type(c)

tuple

**튜플 대입**
- 우변의 값을 좌변의 변수에 한번에 할당하는 과정을 의미합니다.
- 튜플은 일반적으로 파이썬 내부에서 활용됩니다.
    - 추후 함수 파트에서 복수의 값을 반환하는 경우에도 확인할 수 있습니다.

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

In [59]:
x, y = 1, 2

In [60]:
# 실제로는 tuple로 처리됩니다.

In [61]:
(x, y) = (1, 2)

In [62]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

In [68]:
(x, y) = (y, x)

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

In [64]:
empty = ()
type(empty)

tuple

In [67]:
tt = (1, 2, 3)

tt[0]  # 가능(시퀀스-순서 있으니까 idx 접근 가능)
tt[0] = 100  # 불가능 (immutable)

TypeError: 'tuple' object does not support item assignment

### 레인지 (range())

`range` 는 정수의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.

In [71]:
# 0 부터 n-1 / 0 <= x < n 의 !!정수!!만 말함
range(3)

range(0, 3)

In [70]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.

In [72]:
r = range(0, 10)  # range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.

In [73]:
list(range(4, 9))

[4, 5, 6, 7, 8]

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [86]:
print(range(10) == range(0, 10) == range(0, 10, 1))

r1 = range(1, 11, 2)
r2 = range(0, -10, -1)
list(r1), list(r2)

True

([1, 3, 5, 7, 9], [0, -1, -2, -3, -4, -5, -6, -7, -8, -9])

In [91]:
# idx 접근 가능 => 순서가 있음
range(10)[0]

# idx 통해서 수정은 불가능 => immutable
range(10)[0] = 100

TypeError: 'range' object does not support item assignment

### 패킹 / 언패킹 연산자 (Packing / Unpacking Operator)
모든 시퀀스형(리스트, 튜플 등)은 패킹/언패킹 연산자 * 를 사용하여 객체의 패킹 또는 언패킹이 가능합니다.
```python
x, *y = i, j, k ...
```

In [102]:
x, *y = 1, 2, 3, 4

In [103]:
print(x)
type(x)

1

int

In [107]:
print(y)
print([2, 3, 4])


print(*y)
print(2, 3, 4)
type(y)

[2, 3, 4]
[2, 3, 4]
2 3 4
2 3 4

list

**언패킹**
- argument 이름이 *로 시작하는 경우, argument unpacking이라고 부릅니다.
- 패킹의 경우, 리스트로 대입합니다.

In [108]:
def multiply(x, y, z):
    return x * y * z

- 언패킹의 경우, 튜플 형태로 대입합니다.

In [113]:
numbers = [1, 2, 3]
print(multiply(2, 2, 2))
# multiply(numbers)  # multiply([1, 2, 3])
multiply(*numbers)  # multiply(1, 2, 3)

8

6

**패킹**
- 대입문의 좌변 변수에 위치합니다.
- 우변의 객체 수가 좌변의 변수 수보다 많을 경우 객체를 순서대로 대입합니다.
- 나머지 항목들은 모두 별 기호 표시된 변수에 리스트로 대입합니다.

**패킹/언패킹 연산자 주의사항**

` * ` 연산자가 곱셈을 의미하는지 패킹/언패킹 연산자인지 구분하여야 합니다.
- 패킹/언패킹 연산자의 경우
    1. 연산자가 대입식의 좌측에 위치하는 경우
    2. 연산자가 단항 연산자로 사용되는 경우
        - 단항 연산자 : 하나의 항을 대상으로 연산이 이루어지는 연산자
        
        
- 산술연산자의 경우
    1. 연산자가 이항연산자로 사용되는 경우
        - 이항 연산자 : 두 개의 항을 대상으로 연산이 이루어지는 연산자

In [117]:
1 + 2  # + 연산을 위해 필요한 값 => 2개 => 2항연산자
3 - 2  # 2항연산자
2 * 3  # 2항연산자


not True  # True 1개 => 단항 연산자
+3  # 같은 + 연산자지만, 상황에 따라 단항연산자
-1  
print(*[1, 2, 3])  # 같은 * 기호를 쓰지만, 뜻이 다른 단항연산자

1 2 3

## 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

### 세트 (Set)

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 담고있는 객체를 삽입 변경, 삭제 가능 (mutable) 합니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

**생성과 접근**
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [118]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

* 차집합은 연산자 `-`를 사용합니다.

In [119]:
# set_a와 set_b의 차집합을 구해봅시다.

In [121]:
s1 - s2

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [122]:
# set_a와 set_b의 합집합을 구해봅시다.

In [123]:
s1 | s2

{1, 2, 3, 4, 5}

* 교집합은 연산자 `&`을 사용합니다.

In [ ]:
# set_a와 set_b의 교집합을 구해봅시다.

In [124]:
s1 & s2

{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

In [127]:
s3 = {1, 1, 1, 2, 2, 3, 3}

s3

{1, 2, 3}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.
# 문자열 서울, 서울, 대전, 광주, 서울, 대전, 부산, 부산를 원소로 가지는 set를 만듭니다.
# 생성한 세트의 길이를 출력해 봅시다.

In [129]:
s4 = {'서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산'}
len(s4)

4

In [ ]:
# 생성한 세트를 출력해 봅시다.
# 세트는 순서를 보장하지 않습니다.

In [133]:
print(s4)

{'제주', '부산', '광주', '대전', '서울'}

In [137]:
numbers = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4]
uniqs = list(set(numbers))
uniqs

[1, 2, 3, 4]

### 딕셔너리 (dictionary)

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

**생성과 접근**

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* 순서를 보장하지 않습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.

In [139]:
d1 = {}
d2 = dict()
d1 == d2, type(d1)

(True, dict)

In [ ]:
# dictionary에 중복된 key는 존재할 수 없습니다.

In [142]:
{'a': 1, 'a': 2, 'a': [1, 2, 3, 4, 5, 6, 7]}

{'a': 3}

In [ ]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02

In [160]:
phone_book = {
    '서울': '02',
    '부산': '051',
    '대구': '053',
    '제주': '064',
    '경기': '031',
    '인천': '032',  # TRAIILING COMMA!
}

# 접근 (key를 알고 있어야 함). 없는 키로 접근 시 에러
phone_book['서울']
# phone_book['평양']


# 변경
# key가 이미 존재 한다면 => 수정
phone_book['서울'] = '022'
# key가 존재하지 않는다면 => 추가
phone_book['평양'] = '냉면'

phone_book

{'서울': '022',
 '부산': '051',
 '대구': '053',
 '제주': '064',
 '경기': '031',
 '인천': '032',
 '평양': '냉면'}

In [145]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.

In [146]:
phone_book.keys()

dict_keys(['서울', '부산', '대구', '제주', '경기', '인천'])

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

In [148]:
phone_book.values()

dict_values(['02', '051', '053', '064', '031', '032'])

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

In [149]:
phone_book.items()

dict_items([('서울', '02'), ('부산', '051'), ('대구', '053'), ('제주', '064'), ('경기', '031'), ('인천', '032')])

In [ ]:
students = [
    {'name': '김재석', 'major': '심리', 'location': '분당', 'mbti': 'INFP'},
    {'name': '오창희', 'major': '컴공', 'location': '광주', 'mbti': 'ENFP'},
    {'name': '변승환', 'major': '화학', 'location': '서울', 'mbti': 'INFJ'},
]

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [168]:
# list를 형변환 해봅시다.

l = [1, 2, 3, 4]
str(l)  # list => st·str(l)  # list => str
tuple(l)  # list => tuple
set(l)  # list => set
# range(l)  # X
# dict(l)  # X

{1, 2, 3, 4}

In [174]:
# tuple을 형변환 해봅시다.
t = (1, 2, 3, 4)
str(t)
list(t)
set(t)
# range(t)
# dict(t)

{1, 2, 3, 4}

In [193]:
# range를 형변환 해봅시다.
r = range(1, 5)
str(r)
list(r)
set(r)
tuple(r)
# dict(r)

(1, 2, 3, 4)

In [195]:
# set을 형변환 해봅시다.
s = {1, 2, 3, 4}
str(s)
list(s)
tuple(s)
# range(s)
# dict(s)

(1, 2, 3, 4)

In [200]:
# dictionary를 형변환 해봅시다.
d = {'name': 'yu', 'year': 2023}

str(d)
list(d)  # key만 나옴! 
tuple(d)  # key만 나옴!
set(d)  # key만 나옴!
# range(d)

TypeError: 'dict' object cannot be interpreted as an integer

In [213]:
l = [1, 2, 3]
l[0] = 100
l

# 값(객체) 살리는 방법 => 이름을 부여 / 컨테이너에 넣기

l = []
l.append(1000)

# 값(객체) 죽이는 방법 => 이름 뺐기 / 
s = 1000
s = 'asdf'
del s

[1000]

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 멤버십 연산자 (Membership Operator)

요소가 시퀀스에 속해있는지 확인할 수 있습니다.
- `in` 연산자
- `not in` 연산자

In [214]:
# 리스트안에 특정한 정수가 있는지 확인해봅시다.
# 정수 1 이 [3, 2] 리스트에 속해있는지 확인해봅시다.
a = 1 in [3, 2]

False

In [216]:
# 튜플안에 특정한 정수가 있는지 확인해봅시다.
# 정수 5가 (1, 2, 'hi') 튜플에 속해있는지 확인해봅시다.
5 in (1, 2, 'hi')

False

In [220]:
# range안에 특정한 정수가 있는지 확인해봅시다.
# -3이 range(3) 에 속해있는지 확인해봅시다.

-1 in range(3)

1 in range(3)
1.1 in range(3)

False

In [221]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
# 문자열 'a' 가 'apple' 에 속해있는지 확인해봅시다.

'a' in 'apple'

True

In [222]:
# 리스트안에 특정한 문자가 없는지 확인해봅시다.
# 문자열 'b' 가 'apple' 에 속해있는지 확인해봅시다.

'b' in 'apple'

False

In [224]:
'a' in {'A': 'a', 'a': 'A'}  # key 확인용

True

In [225]:
1 in {1, 2, 3}

True

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [227]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.
[1, 2] + ['a']

[1, 2, 'a']

In [234]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.
(1, 2) + ('a',)

(1, 2, 'a')

In [230]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.
range(1) + range(2, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [ ]:
range(1) + range(2, 5)

In [231]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.
'12' + 'a'

'12a'

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [235]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [237]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.
(1, 2) * 3

(1, 2, 1, 2, 1, 2)

In [238]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.
range(1) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [239]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.
'hi' * 3

'hihihi'

## 기타 : 인덱싱/슬라이싱 (Indexing/Slicing)
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (data structure 챕터에서 자세하게 학습합니다.)

### 인덱싱
시퀀스의 특정 인덱스 값에 접근 할 수 있습니다.
- 해당 인덱스가 없는 경우 IndexError가 발생합니다.

In [244]:
# 리스트를 인덱싱을 통해 값에 접근해봅시다.
# 리스트 [1, 2, 3]의 세번째 값을 인덱싱으로 확인해봅시다.

[1, 2, 3][2]

3

In [245]:
# 튜플을 인덱싱을 통해 값에 접근해봅시다.
# 튜플 (1, 2, 3)의 첫번째 값을 인덱싱으로 확인해봅시다.
(1, 2, 3)[0]

1

In [246]:
# range를 인덱싱을 통해 값에 접근해봅시다.
# range(3)의 세번째 값을 인덱싱으로 확인해봅시다.

range(3)[2]

2

In [247]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'abc'의 첫번째 값을 인덱싱으로 확인해봅시다.

'abc'[0]

'a'

In [248]:
# 찾고자 하는 인덱스가 존재하지 않을때 오류가 발생합니다.
# 문자열 apple의 100번째 값을 인덱싱으로 확인하고자 할 때 발생하는 오류를 확인해봅시다.

'apple'[100]

IndexError: string index out of range

### 슬라이싱
- Sequence[start:end[:step]]

시퀀스를 특정 단위로 슬라이싱 할 수 있습니다.

In [250]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [264]:
'''
[시작:끝:스텝] 에서
[x:y:z] 라 할 때
[x:y]     x <= idx < y 이며, z=1
[x:]      x <= idx < 길이
[:y]      0 <= idx < y
[:]       0 <= idx < 길이
[::-1]    0 <= idx < 길이 를 문워크 
'''
nums = [1, 2, 3, 4, 5]
print(nums[2:4])
print(nums[0:4:2])
print(nums[:3])
print(nums[2:])
print(nums[:])
print(nums[::-1])

[3, 4]
[1, 3]
[1, 2, 3]
[3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

시퀀스를 `k` 간격으로 슬라이싱 할 수 있습니다.

In [ ]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
# 문자열, 튜플, 레인지에서 모두 동일하게 동작합니다.

In [266]:
# 아래의 코드를 실행하여 결과를 확인해 봅시다.
s = 'abcdefghi'
s[2:5]

'cde'

In [268]:
s[::-1]

'ihgfedcba'

In [271]:
s[:4]

'abcd'

In [290]:
# 로또 번호 추첨

'''
1 ~ 45 자연수 중 랜덤하게 6개를 추출한다.

1. 1 ~ 45 자연수
2. 랜덤 추출기
'''

import random

random.sample(range(1, 46), 6)

[5, 10, 45, 7, 16, 41]